<html>

<body style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;">
    <div style="max-width: 900px">
        <% if (order.deliveryMethod === "Collection")  { %>
            <% if (readyInMinutes === 0) { %>
                <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">Great news, your order is now ready to collect!</p>
            <% } else { %>
                <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">Your order will be ready to collect <%= readyInText %> approximately.</p>
            <%  } %>
        <% } else { %>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">Your order will be delivered <%= readyInText %> approximately.</p>
        <% } %>

        <% if (order.deliveryMethod === "Delivery") { %>
            <h4 style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#5b7da0;font-weight:bold;margin-top:20px;">Delivery Address</h4>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">
                <%= order.buyer.firstName %>  <%= order.buyer.lastName %>
            </p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">
                <%= order.deliveryAddress.line1 %> <%=order.deliveryAddress.line2 %>
            </p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">
                <%= order.deliveryAddress.town %>
            </p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:12px;">
                <%= order.deliveryAddress.postcode %>
            </p>
        <%  } else { %>
            <strong style="line-height:10px;">Collect From</strong></br>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:9px;">Godfather Pizza</p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:9px;">152 Norwood Road</p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:9px;">Lambeth</p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:9px;">London</p>
            <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:9px;">SE27 9AZ</p>
        <% } %>
        <h4 style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#5b7da0;font-weight:bold;margin-top:20px;">Loyalty scheme - Get 10% of this order back when you next order!</h4>
        <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:20px;">
            Order again within 28 days and we'll give you an additional discount worth 10% of the order you just placed. It's our way of saying thanks for being a valued Godfather Pizza customer. Simply enter the voucher code <strong><%= voucher.code %></strong> at the basket to receive your additional discount of <strong>£<%= voucher.amount.toFixed(2) %></strong>. The voucher expires on <%= expiresOn %>.
        </p>
    </div>
</body>

</html>
