<html>

<body style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;">
    <div style="max-width: 900px">
        <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:18px;">We'd like to remind you that you have a voucher for £<%= voucher.amount %> off your next order expiring soon. Simply enter the voucher code <strong><%= voucher.code %></strong> at the basket for an additional <strong>£<%= voucher.amount %></strong> off your next order of £20 or more!</p>
        <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:18px;">This voucher expires <%= expiresIn %> on <%= expiresOn %>.</p>
        <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:18px;">If you have any questions, call <strong>0208 674 2000</strong>. Thank you and visit us again soon at:
            <a href="http://www.pizza-godfather.co.uk/" target="_blank">www.pizza-godfather.co.uk</a>
        </p>
    </div>
</body>

</html>
